<link rel="stylesheet" href="<%= asset_path('custom_styles.css') %>" />

<div class="mt-5 mx-auto w-75">
  <div class="card">
    <div class="card-body">
      ふぁにーboxとは、趣味でつながるほげほげです。
    </div>
  </div>
</div>

<h2 class="mt-5 text-center">ホットなグループ</h2>

<div class="row mt-5">
  <% @groups.first(3).each do |group| %>
    <div class="col-md-12">
      <div class="card mb-4">
        <div class="card-body">
          <h5 class="card-title"><%= group.name %></h5>
          <div class="card-text ellipsis">
              <%= group.description %>
          </div>
          <div class="ellipsis">
          <%= link_to "グループの中を見る", group_path(group), class: "btn btn-primary" %>
          <%= group.posts.last.content %>
          <%= group.posts.last.created_at %>
          </div>
        </div>
      </div>
    </div>
  <% end %>
</div>