<div class="col-md-12" >
  <div class="card mb-4", style="min-height: 150px;">
    <div class="card-body d-flex flex-column" style="background-color: #f4fdff; border: 2px solid #26B7BC; border-width: 1px 0 0 3px;">
      <div class="card-title d-flex justify-content-between">
        <div class="hstack gap-2 align-baseline">
          <span class="fs-5 fw-bold group-title">
            <%= group.name %>
          </span>
          <% if group.host_user?(current_user) %>
            <span class="badge rounded-pill bg-primary">ホスト</span>
          <% end %>
        </div>
        <p class="tag" style="background-color: #add8e6;" ><%= group.category %></p>
      </div>
      <div class="card-text ellipsis"><%= group.description %></div>
      <div class="hstack gap-2 mt-auto ellipsis">
        <%= link_to "グループの中を見る", group_path(group), class: "btn btn-light " %>
        <%= render 'groups/actions', group: group %>
        <% post = group.posts.order(:id).last  %>
        <% if post.present? %>
          <%= post.content %>
          <span class="update-time"><%= "( #{l post.created_at} )" %></span>
        <% end %>
      </div>
    </div>
  </div>
</div>
