<div class="col-md-12">
  <div class="card mb-4", style="min-height: 150px;">
    <div class="card-body d-flex flex-column">
      <h4 class="card-title"><%= group.name %></h4>
      <div class="card-text ellipsis"><%= group.description %></div>
      <div class="custom-links mt-auto ellipsis">
        <%= link_to "グループの中を見る", group_path(group), class: "btn btn-light " %>
          <%=
            link_to button_text(group)[0],
            enter_leave_path(group.id),
            class: "ms-3 me-5 card-link btn 
                    #{ button_text(group)[1] }",
            data: { turbo_method: :post }
          %>
        <% unless group.posts.blank? %>
          <%= group.posts.first.content %>
          <%= l group.posts.first.created_at %>
        <% end %>
      </div>
    </div>
  </div>
</div>