

<%= search_form_for @q do |f| %>

<div class="row g-3 align-items-center mb-4">
  <div class="col-auto">
      <%= f.label :name_or_category_cont, 'グループ名', class: 'col-form-label'%>
  </div>
  <div class="col-auto">
    <%= f.search_field :name_cont, class: "form-control" %>
  </div>
  <div class="col-auto">
    <%= f.submit "検索",class: "btn btn-primary" %>
  </div>
</div>
<% end %>



<div class="categories-list mb-5">
  <% Group::CATEGORIES.each do |t| %>
      <%= link_to t, groups_path(q: { category_cont: t}),
                    class: "btn btn-light mb-2 border"%>
  <% end %>
</div>

<div class="my-2 text-center">
  <%#= sort_url(@q, :last_name, [:last_name, 'first_name asc']) %>
  <%= sort_link(@q, :id , 'グループ新着順', class: "text-decoration-none")%>
  <%= sort_link(@q, :name , '名前順', class: "mx-2 text-decoration-none") %>
  <%= sort_link(@q, :last_posted_at , '更新順', class: "text-decoration-none") %>
</div>


<div class="d-flex justify-content-between">
  <h2>グループ一覧</h2>
  <%= link_to "新規グループ作成", new_group_path , class: "btn btn-primary" %>
</div>
<%  if params[:q].present? && params[:q].keys[0] != "s" %>
  <p class="mb-3"><%= "#{ params[:q].values[0]}" %></p>
<% end %>
<div class="row mt-3">
  <%= render @result %>
</div>

<%= paginate @result, theme: 'twitter-bootstrap-4' %>

