<h1>参加者一覧</h1>
<ul>
  <% @users.each do |t| %>
    <li><%= t.name %>
  <% end %>
</ul>

<%= button_to "参加する" , add_user_path(@group.id) %>

<!--チャット機能-->

<%= link_to "編集する", edit_group_path(@group.id) %>
<%= link_to "グループ削除", @group, data: { "turbo-method": :delete,
                                          turbo_confirm: "このグループを削除しますか?" } %>

<%= link_to "一覧へ戻る", groups_path %>