<h1>参加者一覧</h1>
<ul>
  <% @users.each do |t| %>
    <li><%= t.name %>
  <% end %>
</ul>

<%= button_to button_text(@group), add_user_path(@group.id) %>

<% if @group.users.include?(current_user) %>
  <%= form_with(model: [@group, @post], local: true) do |f| %>
    <%= f.text_area :content %>
    <%= f.hidden_field :group_id, value: @group.id %>
    <%= f.submit "送信" %>
  <% end %>
<% end %>

<% @posts.each do |post| %>
  <%= post.content %>
  <%= post.user.name %>
  <% if current_user == post.user || current_user == @host_user %> 
    <%= link_to "削除",group_post_path(@group, post), data: { "turbo-method": :delete } %>
  <% end %>
<% end %>


<% if current_user == @host_user %> 
  <%= link_to "編集する", edit_group_path(@group.id) %>
  <%= link_to "グループ削除", @group, data: { "turbo-method": :delete,
                                            turbo_confirm: "このグループを削除しますか?" } %>
<% end %>
<%= link_to "一覧へ戻る", groups_path %>