<h1 class="text-center">新規登録</h1>

<div class="row mt-5">
  <div class="col-md-4 mx-auto">
    <%= form_with(model: @user) do |f| %>
      <%= render 'shared/error_messages', object: f.object %>

      <div class="mb-3">
      <%= f.label :name, "ユーザー名", class: "form-label" %>
      <%= f.text_field :name , class: "form-control" %>
      </div>

      <div class="mb-3">
      <%= f.label :email, "メールアドレス" %>
      <%= f.text_field :email, class: "form-control" %>
      </div>

      <div class="mb-3">
      <%= f.label :password, "パスワード" %>
      <%= f.password_field :password, class: "form-control" %>
      </div>

      <div class="mb-3">
      <%= f.label :password_confirmation, "パスワード(確認)" %>
      <%= f.password_field :password_confirmation, class: "form-control" %>
      </div>

      <%= f.submit "新規登録", class: 'btn btn-login mx-auto' %>
    <% end %>
  </div>
</div>
